<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Olvidaste Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text>Por favor ingresa tu correo para solicitar un reinicio de tu contraseña.</ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input class="formControl" type="email" #passwordResetEmail required></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" (click)="authService.forgotPassword(passwordResetEmail.value)">
    Reiniciar contraseña
  </ion-button>

  <ion-item class="ion-text-center">
    <ion-label>O</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/sign-in']">Inicio de Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>