<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input class="formControl" type="email" #userName required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" #userPassword required></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" (click)="authService.signIn(userName.value, userPassword.value)">
    Iniciar Sesión
  </ion-button>

  <ion-item class="ion-text-center">
    <ion-label>O</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/register-user']">Registrarse</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>