<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Gracias por Registrarte!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="authService.userData as user">
    <ion-text>Hemos enviado un correo de confirmación a <strong>{{user.email}}</strong>.</ion-text>
  </ion-item>

  <ion-item>
    <ion-text>Por favor revisa tu correo y entra al link para verificar la dirección de correo.</ion-text>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" (click)="authService.sendVerificationMail()">
    Reenviar Correo de Verificación
  </ion-button>

  <ion-item class="ion-text-center">
    <ion-label>O</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/sign-in']"> Inicio de Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
